
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-bottom: 1px solid #EAEAEA;
  transition: all 0.3s linear;

  &_left {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;

    .shop_name {
      display: flex;
      flex-direction: column;

      h1 {
        font-weight: 700;
        font-size: 20px;
        color: #000000;
        margin: 0;
        text-transform: uppercase;
      }


    }
  }

  &_right {
    display: flex;
    column-gap: 30px;
    transition: all 0.3s linear;

    a {
      &:hover {
        path {
          fill: black;
        }
        .icon {
          .amount_wrap {
            border-color: #000;
            .amount {
              color: #000;
            }
          }
        }
      }
    }

    .cart_link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 10px;
      transition: all 0.3s linear;
      cursor: pointer;

      .sum {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #868686;
        transition: all 0.3s linear;
      }


      &:hover {
        path {
          stroke: #000;
          fill: none;
        }

        .sum {
          color: #000;
        }

        .icon {
          .amount_wrap {
            border-color: #000;
            .amount {
              color: #000;
            }
          }
        }

      }
    }
  }

  &:hover {
    box-shadow: #9D9D9D 1px 1px 10px;
  }
}

svg {

  path {
    transition: all 0.3s linear;
  }
}

.subtext {
  font-weight: 200;
  font-size: 14px;
  line-height: 17px;
  color: #9D9D9D;

}

.icon {
  position: relative;
  width: 22px;
  height: 22px;
  transition: all 0.3s linear;


  .amount_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -9px;
    right: -9px;
    border: 2px solid #9D9D9D;
    border-radius: 19px;
    background: white;
    transition: all 0.3s linear;


    .amount {
      display: block;
      margin: 0;
      color: #8c8b8b;
      padding: 2px 4px;
      font-weight: 400;
      font-size: 9px;
      line-height: 9px;
      transition: all 0.3s linear;

    }
  }
}
