
.sneakers {
  width: 100%;

  &_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    h3 {
      font-size: 18px;
      font-weight: 200;
      margin: 0;
      cursor: pointer;
      border: 1px solid #000000;
      padding: 2px 15px;
      border-radius: 16px;
      transition: all 0.3s linear;

      &:hover {
        background: #ffffff;
        color: #000000;
        box-shadow: inset 0px 1px 1px #000000;
        border-color: #9D9D9D;
      }

      &._active {
        background: #000000;
        color: #ffffff;
      }
    }

    &_title {
      display: flex;
      justify-content: space-between;
    }

    &_filter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 20px;




      .filter_options {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
        overflow: hidden;
        height: 0;
        width: 100%;
        transition: all 0.5s ease;
        list-style-type: none;

        li {
          display: flex;
          flex-direction: column;
          row-gap: 10px;

          label {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
          }

          input[type='text'] {
            outline: none;
            font-weight: 200;
            color: #9D9D9D;
            padding: 5px 10px;
            border: 1px solid #9D9D9D;
            border-radius: 30px;
          }

          input[type='number']{
            outline: none;
            font-weight: 200;
            color: #9D9D9D;
            padding: 10px;
            border: 1px solid #9D9D9D;
            border-radius: 30px;
            width: 60px;
          }
        }

        &._active {
          height: 100px;
        }
      }
    }

    .right_section {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;

      .sort {
        position: relative;
        height: 92.08px;
        width: 200px;
        display: flex;
        justify-content: start;
        align-items: center;
        font-weight: 200;
        cursor: pointer;

        .by {
          color: #D3D3D3;
          font-weight: 200;
        }

        &:hover {
          .sort_popup {
            display: flex;
          }
        }
      }
    }

    h2 {
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 39px;
      color: #000000;
      cursor: default;

    }

    .search {
      width: 300px;
      border-radius: 30px;
      height: 40px;
      background: white;
      border: 1px solid #9D9D9D;
      display: flex;
      align-items: center;
      padding: 10px;
      box-sizing: border-box;
      column-gap: 5.75px;

      &_btn {
        cursor: pointer;
      }

      input {
        width: 100%;
        border: none;
        font-weight: 200;
        font-size: 14px;
        color: #C4C4C4;

        &:focus {
          outline: none;
        }
      }
    }
  }

}


.sort_popup {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: absolute;
  top: 65px;
  left: 45px;
  background: #ffffff;
  border: 1px solid #D3D3D3;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin: 0;
  padding: 0;
  z-index: 2;
  overflow: hidden;
  transition: all 0.3s linear;
  display: none;

  li {
    padding: 10px;
    font-weight: 100;
    width: 100%;
    text-align: center;
    transition: all 0.3s linear;

    &:hover {
      background: #D3D3D3;
      color: white;
    }
  }

}