
.sneakers_card {
  border: 2px solid #F3F3F3;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 31px 34px 31px;
  width: 240px;
  height: 300px;
  cursor: context-menu;
  transition: all 0.3s linear;
  box-sizing: border-box;

  &_top {
    display: flex;
    flex-direction: column;
    align-items: center;

    .photo {
      position: relative;
      width: 100%;
      height: 112px;


      svg {
        position: absolute;
        left: 0;
        border: 1px solid rgba(157, 157, 157, 0.26);
        padding: 8.53px;
        border-radius: 10px;
        transition: all 0.3s linear;

        path {
          fill: rgba(157, 157, 157, 0.26);
        }

        &:hover {
          border-color: #B5B5B5;

          path {
            fill: #B5B5B5;
          }
        }

        &.favorite {
          background: #ffdbdb;
          border-color: #ffdbdb;

          path {
            fill: #FF8585;
          }

        }
      }
    }

    h3 {
      font-weight: 200;
      text-align: justify;
    }
  }

  &_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 39px;
    width: 100%;
    height: 32px;

    //
    //button {
    //  border: none;
    //  background: none;
    //  cursor: pointer;
    //}
  }

  &:hover {
    box-shadow: #9D9D9D 1px 5px 10px;
    transform: translateY(-5px);

    .card_btn {
      transform: scale(1.1);

      .btn_item {
        //transform: rotate(300deg );
      }

      .btn_item::before {
        transform: rotate(270deg );
      }
    }
  }
}

.price {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  text-transform: uppercase;

  .price_count {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
}

.card_btn {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  box-sizing: border-box;
  background: white;
  transition: all 0.5s ease;


  .btn_item {
    width: 12px;
    height: 2px;
    background: #D3D3D3;
    border-radius: 4px;
    transition: all 0.5s ease;


  }

  .btn_item::before {
    content: "";
    position: absolute;
    left: calc(50% - 6px);
    width: 12px;
    height: 2px;
    background: #D3D3D3;
    border-radius: 4px;
    transform: rotate(90deg);
    transition: all 0.5s ease;

  }


  &._active {
    transform: scale(1.1);
    background: linear-gradient(180deg, #89F09C 0%, #3CC755 100%);
    border: none;

    .btn_item {
      width: 10px;
      height: 2px;
      background: #ffffff;
      border-radius: 4px;
      transform: rotate(330deg );
      transition: all 0.5s ease;
    }

    .btn_item::before {
      content: "";
      position: absolute;
      left: -20%;
      top: calc(50% - 3px);
      width: 6px;
      height: 2px;
      background: #ffffff;
      border-radius: 4px;
      transform: rotate(360deg - 90deg);
      transition: all 0.5s ease;

    }
  }

}


